# Discord bot token
DISCORD_TOKEN=your-bot-token-here

# Discord application (client) id
CLIENT_ID=your-client-id

# (Optional) a GUILD_ID for faster command registration during development
GUILD_ID=your-dev-guild-id

# MongoDB connection URI
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname?retryWrites=true&w=majority

# Optionally set the PORT for web dashboard later
PORT=3000
